body {
  color: #333;
}

a {
  color: #007bff;
}

.vs-collapse-item--header  {
  padding: 5px 5px 7px 10px !important;
}

.Vue-Toastification__toast--default.add-cart-toast-class {
  background-color: #5ce9c6;
  color: black;
  align-items: center;
}

.Vue-Toastification__container.top-right {
    top: 5em;
}

.Vue-Toastification__toast--default.remove-cart-toast-class {
  background-color: #d11b6d;
  color: white;
  align-items: center;
}

.Vue-Toastification__toast--default.my-custom-toast-class {
  background-color: #ff9f43;
  align-items: center;
}

.Vue-Toastification__toast--default.my-custom-toast-class2{
  background-color: #0391d1;
  align-items: center;
}

.Vue-Toastification__toast-body.custom-class-1 {
  font-size: 25px;
}

.Vue-Toastification__toast-component-body.custom-class-2 {
  width: 100%;
}

.Vue-Toastification__icon {
  margin: auto 18px auto 0px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  transition: 0.3s ease;
  align-items: center;
  width: 20px;
  height: 100%;
  font-size: 30px;
}
.radio-choice, .form-check-radio {
  flex-direction: row;
  justify-content: start !important;
  padding-left: 0rem;
}
.label-cadastrar{
  padding-bottom: 1rem;
}
.vs-popup--content {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 100% !important;
}
.bg-mf-laranja {
  background-color: #f57f17 !important;
}

.bg-mf-verde {
  background-color: #0cb695 !important;
}

.bg-mf-azul {
  background-color: #0391D1 !important;
}

.color-mf-verde {
  color: #0CB695 !important;
}

.color-mf-laranja {
  color: #f57f17 !important;
}

.color-mf-vermelho {
  color: #f00 !important;
}

.border-top-green {
  border-top: solid 5px #0CB695;
}

.border-top-orange {
  border-top: solid 5px #f57f17;
}

.chip-mf {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  padding: 12px 12px 12px 1px!important;
  background: #FDFDF5 !important;
  border: 1px solid #72776C !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  height: 32px !important;
  margin-right: 8px !important;
}

.chip-mf-activated {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  padding: 12px 12px 12px 1px!important;
  background: #FDFDF5 !important;
  border: 1px solid #72776C !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  height: 32px !important;
  margin-right: 8px !important;
}

.chip-mf-selected {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  padding: 12px 12px 12px 1px!important;
  color: #008567 !important;
  background: #D9E7CB !important;
  border: 1px solid #D9E7CB! important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  height: 32px !important;
  margin-right: 8px !important;
}

.chip-mf a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6D7168;
  white-space: nowrap;
}

.chip-mf-activated a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #008567;
  white-space: nowrap;
}

.chip-mf-selected a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #008567;
  white-space: nowrap;
}

.navigations-container{
  display: flex;
  border-top: 1px solid lightgrey;
  height: 62px;
  background: white;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
}

.vuesax-app-is-ltr .con-vs-chip {
  margin-right: 8px !important;
}

.btn-outline-orange,
.btn-outline-orange:hover {
  border: 1px solid #f57f17;
  color: #f57f17;
}

.disabled-opacity {
  opacity: 0.6;
}
.justify-background-alert {
  display:inline-block;
}

.success-background{
  background: #0cb695 !important;
}
.text-search-header {
  position: relative;
  top: -1px;
  left: 15px;
  background-color: transparent;
  border-color: transparent;
}

.brand-logo-mf {
  background: url('../../assets/images/mf-logo-white.png') no-repeat center;
  height: 30px;
  width: 80px;
  margin: 1rem;
}

.brand-logo-mf-color {
  background: url('../../assets/images/mf-logo-color.png') no-repeat center;
  height: 30px;
  width: 80px;
  margin: 1rem;
}

.breadcrumb-mf {
  padding: 0 0 0.5rem 0 !important;
}

.list-group-mf-border li {
  border: none;
}

.list-group-mf-border li:nth-of-type(odd) {
  border-right: 1px solid rgba(34, 41, 47, 0.125);
}

.list-group-mf-border li:hover {
  background: rgba(200, 200, 200, 0.1) !important;
}

.swiper-wrapper .chip:hover {
  opacity: 0.8;
}

.mf-item-list-active {
  background-color: #ECEDEF;
}

.mf-item-list a:hover {
  background-color: #F8F8F8;
}

.mf-chat .card:before {
  width: 0;
  height: 0;
  content: "";
  top: 0;
  position: absolute;
  border-style: solid;
}

.mf-chat-left .card:before {
  left: -10px;
  border-width: 0 15px 15px 0;
  border-color: transparent #ffffff transparent transparent;
}

.mf-chat-right .card:before {
  right: -10px;
  border-width: 15px 15px 0 0;
  border-color: #DFF7EA transparent transparent transparent;
}

.mf-chat-right .card {
  background: #DFF7EA;
}

.mf-chat-left {
  padding-right: 10rem;
}

.mf-chat-right {
  padding-left: 10rem;
}

.mf-footer-order {
  bottom: 0;
  background: #eee;
}

.mf-list-items-w-25 {
  width: 25%;
}

.mf-list-items-w-25 .btn {
  line-height: 1.45 !important;
}


@media only screen and (min-width: 768px) {
  .mf-bg-img {
    background: url(../../assets/images/bg1.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    color: #fff;
  }

  .mf-bg-img:before {
    content: "";
    background: rgba(0, 255, 180, 0.75);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, rgba(0, 170, 120, 0.75)), to(rgba(19, 56, 106, 0.75)));
    background: -o-linear-gradient(top, rgba(0, 170, 120, 0.75) 16%, rgba(19, 56, 106, 0.75) 100%);
    background: linear-gradient(180deg, rgba(0, 170, 120, 0.75) 16%, rgba(19, 56, 106, 0.75) 100%);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .card .show-hover-mf {
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .card:hover .show-hover-mf {
    opacity: 1;
  }

  .nav-link-search-wrapper {
    border: 1px solid #0391D1 !important;
    border-radius: 5px;
    background: white;
    margin: 0px 8px;
    cursor: text;
  }


  .mobile-mf-bg-img {
    background: #fff;
    color: #333;
  }

  .mobile-mf-bg-img:before {
    background: #fff;
  }

}

@media only screen and (max-width: 767px) {
  .mf-bg-img {
    background-color: #fff;
    background-size: cover;
    z-index: 1;
  }

  .app-content .content-wrapper,
  .footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .nav-link-search-wrapper {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    color: white;
  }

  .mf-list-items-w-25 {
    width: 50%;
  }

  .icon-search{
    color: white;
   }
}


@media only screen and (max-width: 320px) {


  .mf-footer-order span {
    font-size: 0.9rem !important;
  }

  .mf-footer-order .mr-1 {
    margin-right: 0.5rem !important;
  }
}

/**** AUTHENTICATION ****/
.bg-authentication {
  background-color: #EFF2F7;
}

.bg-authentication .login-footer {
  padding: 0rem 1.5rem 0.5rem;
}

.bg-authentication .login-footer .footer-btn .btn {
  padding: 0.9rem 1.2rem !important;
  margin: 1rem 1rem 1rem 0rem;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .bg-authentication {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .mobile-only-block {
      display: block !important;
  }
}
